version: '3'

services:
  generator:
    image: sosci/generator:${VERSION_TAG:-nightly}
    pull_policy: always
    restart: unless-stopped
    environment:
      - HOST=0.0.0.0:34254
      - TARGET=backend:34255
      - PPS=20000.0
      - SIG_FREQ=1.0
    ports:
      - 34254:34254
    networks:
      - internal

  frontend:
    image: sosci/frontend:${VERSION_TAG:-nightly}
    pull_policy: always
    depends_on:
      - backend
    restart: unless-stopped
    environment:
      - API_KEY=${API_KEY:-noteset}
    volumes:
      - backend-data:/opt/sosci/data
    networks:
      - web
      - internal
    labels:
      - "traefik.enable=true"
      # Remove path prefix
      - "traefik.http.middlewares.sosci-frontend-stripprefix-dev.stripprefix.prefixes=/dev/ui"
        # Redirect HTTP
      - "traefik.http.routers.sosci-dev-frontend-web.service=sosci-dev-frontend-websecure"
      - "traefik.http.middlewares.sosci-dev-frontend-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.sosci-dev-frontend-web.middlewares=sosci-dev-frontend-websecure"
      - "traefik.http.routers.sosci-dev-frontend-web.rule=Host(`amos-sosci.die-degens.eu`)  && PathPrefix(`/dev/ui`)"
      - "traefik.http.routers.sosci-dev-frontend-web.entrypoints=web"
        # HTTPS
      - "traefik.http.routers.sosci-dev-frontend-websecure.rule=Host(`amos-sosci.die-degens.eu`) && PathPrefix(`/dev/ui`)"
      - "traefik.http.routers.sosci-dev-frontend-websecure.entrypoints=websecure"
      - "traefik.http.routers.sosci-dev-frontend-websecure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.sosci-dev-frontend-websecure.service=sosci-dev-frontend-websecure"
      - "traefik.http.services.sosci-dev-frontend-websecure.loadbalancer.server.port=80"
      - "traefik.http.routers.sosci-dev-frontend-websecure.middlewares=sosci-frontend-stripprefix-dev"

  backend:
    image: sosci/backend:${VERSION_TAG:-nightly}
    pull_policy: always
    environment:
      - API_KEY=${API_KEY:-noteset}
      - UDP_PORT=34255
      - WS_PORT=9000
      - REST_PORT=8080
      - HOST_ADDRESS=0.0.0.0
      - FRONTEND_ORIGIN=https://amos-sosci.die-degens.eu,http://localhost:5173,http://localhost:5000
    ports:
      - 34255:34255
    networks:
      - internal
      - web
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # Remove path prefix
      - "traefik.http.middlewares.sosci-backend-stripprefix-dev.stripprefix.prefixes=/dev/backend/ws"
        # Main
      - "traefik.http.routers.sosci-dev-backend.rule=Host(`amos-sosci.die-degens.eu`) && PathPrefix(`/dev/backend/ws`)"
      - "traefik.http.routers.sosci-dev-backend.entrypoints=websecure"
      - "traefik.http.routers.sosci-dev-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.sosci-dev-backend.service=sosci-dev-backend"
      - "traefik.http.services.sosci-dev-backend.loadbalancer.server.port=9000"
      - "traefik.http.routers.sosci-dev-backend.middlewares=sosci-backend-stripprefix-dev"
      # Main REST API
      - "traefik.http.middlewares.sosci-backend-stripprefix-dev-rest.stripprefix.prefixes=/dev/backend/rest"
      - "traefik.http.routers.sosci-dev-backend-rest.rule=Host(`amos-sosci.die-degens.eu`) && PathPrefix(`/dev/backend/rest`)"
      - "traefik.http.routers.sosci-dev-backend-rest.entrypoints=websecure"
      - "traefik.http.routers.sosci-dev-backend-rest.tls.certresolver=letsencrypt"
      - "traefik.http.routers.sosci-dev-backend-rest.service=sosci-dev-backend-rest"
      - "traefik.http.services.sosci-dev-backend-rest.loadbalancer.server.port=8080"
      - "traefik.http.routers.sosci-dev-backend-rest.middlewares=sosci-backend-stripprefix-dev-rest"
    volumes:
      - backend-data:/opt/sosci/data

networks:
  internal:
    driver: bridge
    internal: true
  web:
    driver: bridge
    external: true

volumes:
  backend-data: