:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
}

img {
  width: 92%;
  height: 92%;
  padding: 1em;
  max-height: 3.6em;
}

input[type="range"] {
  width: 40%;
  appearance: none;
  -webkit-appearance: none;
  height: .4em;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  width: 100%;
  height: 20em;
  box-shadow: 0 0 2em rgba(80, 80, 80, 1);
  background-color: #242424;
  z-index: 3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efefef;
  }

  nav {
    background-color: #efefef;
  }

  .icon-button {
    filter: invert(0) !important;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 8% 14% 56vw 14% 8%;
  grid-template-rows: 4em 28vw 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.indicators {
  grid-column: 1/3;
  grid-row: 2;
  justify-self: end;
}

.oscilloscope {
  grid-column: 3;
  grid-row: 2;
  position: relative;

  &--coordinate-system {
    position: absolute;
    inset: 0;
  }

  &--waves {
    position: absolute;
    inset: 0;
  }
}

.control-panel {
  &--top {
    &_general {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      align-self: center;
      justify-content: space-evenly;
      font-size: small;
    }

    &_waves {
      grid-column: 3/6;
      grid-row: 1;
      align-self: center;
      justify-content: space-around;
      display: flex;
    }
  }

  &--right {
    grid-column: 4/6;
    grid-row: 2;
  }

  &--bottom {
    grid-column: 1/6;
    grid-row: 3;
    padding: .5% 0;

    &_thickness {
      width: 28px;
      margin: 0 auto;
    }

    &_expand-accordion {
      width: 100%;
      padding: 1vh 0;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: rgba(127, 127, 127, 0.1) !important;
      }

      & > button {
        &:hover {
          background-color: rgba(0, 0, 0, 0.0) !important;
        }
      }
    }

    & > table {
      width: 100%;
      text-align: center;
      font-size: small;
      border-collapse: collapse;

      & > th {
        vertical-align: middle;
        font-weight: normal;
        border-bottom: 0.2em solid rgba(127, 127, 127, 0.1);
      }

      & > * {
        padding: 0;
        margin: 0;

        & > * {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  &--entry {
    & > span {
      position: absolute;
    }
  }
}

.icon-button {
  border-radius: 100%;
  border: 0;
  padding: 1em;
  cursor: pointer;
  filter: invert(1);
  min-width: 40px;
  min-height: 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64%;

  &--small {
    min-width: 32px;
    min-height: 32px;
  }

  &:hover {
    background-color: rgba(127, 127, 127, 0.1) !important;
  }
}

.screen-size-warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Icon definitions */
.mui-icon {
  &--on {
    background-image: url("./assets/mui_play.svg");
  }

  &--off {
    background-image: url("./assets/mui_stop.svg");
  }

  &--reset {
    background-image: url("./assets/mui_reset.svg");
  }

  &--expand-more {
    background-image: url("./assets/mui_expand_more.svg");
  }

  &--expand-less {
    background-image: url("./assets/mui_expand_less.svg");
  }

  &--close {
    background-image: url("./assets/mui_close.svg");
  }
}
