name: CI Push Docker Frontend

on:
  pull_request:
    types:
      - "closed"

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
      -
        if: github.event.pull_request.base.ref == 'dev'
        name: Build and push from dev
        uses: docker/build-push-action@v3
        with:
          context: ./Apps/frontend
          platforms: linux/amd64
          build-args: |
            MODE=develop
          push: true
          tags: |
            sosci/frontend:nightly
      -
        if: github.event.pull_request.base.ref == 'int'
        name: Build and push from int
        uses: docker/build-push-action@v3
        with:
          context: ./Apps/frontend
          platforms: linux/amd64
          build-args: |
            MODE=integration
          push: true
          tags: |
            sosci/frontend:${{ github.event.pull_request.title }}
      -
        if: github.event.pull_request.base.ref == 'main'
        name: Build and push from main
        uses: docker/build-push-action@v3
        with:
          context: ./Apps/frontend
          platforms: linux/amd64
          build-args: |
            MODE=production
          push: true
          tags: |
            sosci/frontend:${{ github.event.pull_request.title }}
            sosci/frontend:latest
  trigger-deployment:
    runs-on: ubuntu-latest
    needs:
      - "build-push"

    steps:
      -
        if: github.event.pull_request.base.ref == 'dev'
        name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ secrets.WEBHOOK_URL_DEV }}?VERSION_TAG=nightly&API_KEY=${{ secrets.FRONTEND_API_KEY }}
          webhook_secret: "none"
          verbose: true
      -
        if: github.event.pull_request.base.ref == 'int'
        name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ secrets.WEBHOOK_URL_INT }}?VERSION_TAG=${{ github.event.pull_request.title }}&API_KEY=${{ secrets.FRONTEND_API_KEY }}
          webhook_secret: "none"
          verbose: true
      -
        if: github.event.pull_request.base.ref == 'main'
        name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ secrets.WEBHOOK_URL_PROD }}?VERSION_TAG=${{ github.event.pull_request.title }}&API_KEY=${{ secrets.FRONTEND_API_KEY }}
          webhook_secret: "none"
          verbose: true
